# Dependencies
node_modules/

# Next.js
.next/
out/
build/
next-env.d.ts

# Env / secrets
.env
.env.local
.env.*.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo
